#main_wrapper {
  grid-template-columns: 100%;
}

/* ----------記事追加　CSS-------------- */
trix-editor{
  min-height: 400px;
}
form input{
  display: inline-block;
  width: 100%;
  height: 25px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
#imgselectpart{
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  vertical-align: middle;
  align-items: center;
}
#imgbutton{
  display: block;
  position: relative;
  width: 200px;
  margin: none;
}
#thumsamplewrap{
  display: none;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  padding: 5px;
  object-fit: contain;
  align-items: center;
  border: solid 1px #888888;
}
#thumbsample{
  display: inline-block;
  width: 100%;
}
select{
  position: relative;
  display: inline-flex;
  box-sizing: border-box;
  margin: 5px;
  width: 100px;
  border: 1px solid #000000;
}
#pday{
  width: 200px;
}
#adtag input{
  width: 200px;
}
#adtag .subbutton{
  display: inline-block;
  width: 100px;
  height: auto;
  margin: 15px;
  margin-bottom:100px;
  font-size: 20px;
}

#adtag{
  padding: 30px;
  padding-left: 200px;
  padding-right: 200px;

}
#editor{
  min-height: 300px;
}
/*-----------------画像リストページ----------------------*/
#imglist{
  display: inline-flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.img{
  display: inline-flex;
  box-sizing: border-box;
  margin: 10px;
  width: 20vmin;
  height: 20vmin;
  object-fit: contain;
  justify-content: center;
  align-items: center;
  border: 1px solid #777777;
  text-align: center;
  order: 1;
}
.img img{
  position: relative;
  display: inline-block;
  width: 100%;
  margin: auto;
}
.imgwrap{
  display: inline-flex;
  width: 22vmin;
  flex-direction: column;
  align-items: center;
}
.imgalt{
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  word-break: break-all;
  text-align: center;
  padding: 5px;
  font-size: 10px;
  order: 3;
}
.imselradio{
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  order: 2;
}
.imselradio:checked + label{
  border: 3px solid #ff5555;
}
/*---新画像追加-*/
#modalwrap{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(70, 70, 70, 0.315);
}
#modal{
  display: inline-block;
  position: absolute;
  width: 500px;
  height: 300px;
  padding: 15px;
  border: 1px solid #555555 ;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #ffffff;

}
fieldset{
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

}
#newwrapper{
  display: inline-block;
  width: 100%;
}
.imgparts{
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}
#Eimalt{
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #111111;
  border-radius: 5px;
  
}
.imgparts input,
.imgparts label{
  display: inline-block;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  padding: 5px;
}
/*---------------記事リストページ-------------------*/
:root{
	box-sizing: border-box;
}
main{
	background: none;
	border: none;
	box-shadow: none;
}

#articles_list{
	display: grid;
	grid-template-columns: 100%;
	padding: 5px;
}
.article_container{
	display: inline-block;
	box-sizing: border-box;
	margin: 5px;
}
.article{
  position: relative;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 50% 10% 25% 5% 5% 5%;
	height: auto;
	padding: 15px;
	margin: 5px;
  align-items: center;
  border: 1px solid #000000;
}
.article a{
	position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}
#tag label{
  display: inline-block;
  box-sizing: border-box;
}
.article_detail{
	box-sizing: border-box;
	display: inline-flex;
	flex-direction: column;
	height: 100%;
	padding: 15px;
}

.article_categories{
	display: inline-flex;
	flex-direction: row;
}
.article_category{
	margin-left: 2px;
	margin-right: 2px;
	padding: 1px;
	background: #bbe9a9;
	border-radius: 2px;
	border: solid #95c483 1px;
  cursor: initial;
  line-height: 140%;
}
.article_category a{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
}
.article_title h1{
	margin: initial;  /* 0 */
	font-size: 22px;
  font-weight: normal;
  text-overflow: ellipsis;
	white-space: nowrap;
	overflow:hidden;
}

#pagenation{
  display: inline-flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  align-items: center;
  margin: 10px 0px;
}
#pagenation div{
	display: inline-block;
	border-radius: 5px;
	
}
#pagenation >div{
	padding: 4px;
}
#pgplace{
	background: #9bcc87;
	border: solid 1px #cccccc;
	margin: 0px 5px 0px 5px;
}

.move{
	display: inline-block;
	box-sizing: border-box;
	cursor: pointer;
	width: 25px;
	height: 25px;
	padding: 4px;
}
.move:hover{
	background: #cccccc;
}
.moves{
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
  height: 100%;
  margin: 0;
	border: 2px solid;
	border-left: 0;
	border-bottom: 0;
	
}
#prev{
	transform: rotate(-135deg);
}
#next{
	transform: rotate(45deg);
}

.clink{
  text-decoration: underline;
  cursor: pointer;
}