.sticked{
	position: sticky;
	
}
.asidelabel_parts {
    position: relative;
    display: inline-flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    /*border: solid 1px #cccccc;*/
    background: #ffffff;
}
label.aside_label {
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    background: #f89538a2;

}
img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
}
.aside_label img {
    width: 30px;
}

#profile_part #profile_img_p {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
    padding: 2px;
}
#profile_part #profile_img {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#profile_description {
    font-size: 14px;
}
.asidecontent_detail {
    word-wrap: break-word;
    padding: 2px;
}
a{
	display: inline-block;
	width: 100%;
	height: 100%;
	text-decoration: none;
}
ul {
    display: block;
    list-style: none;
    padding-left: 10px;
}
li{
	padding: 2px;
	font-weight: bolder;
}
li :hover{
background: #dddddd;
box-shadow: #cccccc 0px 2px 2px;
}

.asidelabel_parts #years a::before {
	content: '＞';
	
}
.asidelabel_parts #categories a::before {
	content: url('svg/tag.ic.svg');
	display: inline-block;
	height: 16px;
	width: 16px;
	vertical-align: middle;
}