
main{
	background: none;
	padding: 0;
	border: 0;
	box-shadow: none;
}
#article_header{
	position: relative;
	display: inline-flex;
	box-sizing: border-box;
	flex-direction: column;
	height: auto;
	width: 100%;
	padding: 10px;
	background: #ffffff;
	margin-top: 5px;
	border-radius: 5px 5px 0px 0px;
}
#article_dates{
	padding-left: 10px;
	color: #666666;
}
.dates{
	position: relative;
	display: inline-block;
	height: auto;
	padding: 2px;
}
#post_day{
	font-size: 16px;
}
#post_day::before{
	display: inline-block;
	content: url('svg/post_ic.svg');
	vertical-align: middle;
	width: 16px;
}
#up_day::before{
	display: inline-block;
	content: url('svg/update_ic.svg');
	vertical-align: middle;
	width: 16px;
}
#article_title{
	font-size: 26px;
	word-wrap: break-word;
	padding: 5px 0px 5px 0px;
}
.category{
	display: inline-flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	font-size: 14px;
	padding: 4px;
	margin: 2px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	line-height: 14px;
	align-items: center;
	color: #666666;
	font-weight: 500;
}
#categories a{
	display: inline-block;
	text-decoration: none;
}
.category::before{
	display: inline-block;
	content: url("svg/tag.ic.svg");
	vertical-align: middle;
	width: 14px;
}
article{
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	background: #ffffff;
	padding: 20px;
	border-top: 1px solid #cccccc;
	border-width: 80%;
	word-wrap: break-word;
	font-size: 16px;
	line-height: 20px;
	
}
